{
  "swagger": "2.0",
  "info": {
    "title": "BAM API Client",
    "version": "1.0.0",
    "description": "Api de l'application de fonds commun de placement de Bridge Asset Management"
  },
  "host": "verolive-secure.com/apibam",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/auth/encode": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "op_code": {
                  "example": "any"
                },
                "app_id": {
                  "example": "any"
                },
                "timestamp": {
                  "example": "any"
                },
                "app_mdp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/auth/verify": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/ressources/type-acteurs": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/ressources/type-operations": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/ressources/type-moy-paiements": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/ressources/campagne/profilrisque/questions": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "civilite": {
                  "example": "any"
                },
                "nom": {
                  "example": "any"
                },
                "nom_jeune_fille": {
                  "example": "any"
                },
                "prenom": {
                  "example": "any"
                },
                "date_naissance": {
                  "example": "any"
                },
                "nationalite": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "adresse": {
                  "example": "any"
                },
                "telephone": {
                  "example": "any"
                },
                "type_acteur": {
                  "example": "any"
                },
                "type_piece": {
                  "example": "any"
                },
                "num_piece": {
                  "example": "any"
                },
                "type_compte": {
                  "example": "any"
                },
                "rib": {
                  "example": "any"
                },
                "langue": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier/{particulierId}/kyc": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier/{particulierId}/profilrisque/reponse": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "question_ref": {
                  "example": "any"
                },
                "reponse_ref": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier/{particulierId}/profilrisque/recap": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier/{particulierId}/profilrisque/terminer": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/entreprise": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "raison_sociale": {
                  "example": "any"
                },
                "forme_juridique": {
                  "example": "any"
                },
                "capital_social": {
                  "example": "any"
                },
                "siege_social": {
                  "example": "any"
                },
                "compte_contribuable": {
                  "example": "any"
                },
                "registre_com": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "adresse": {
                  "example": "any"
                },
                "telephone": {
                  "example": "any"
                },
                "type_acteur": {
                  "example": "any"
                },
                "rib": {
                  "example": "any"
                },
                "langue": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/entreprise/{entrepriseId}/kyc": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "entrepriseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "entrepriseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/entreprise/{entrepriseId}/representant": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "entrepriseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "civilite": {
                  "example": "any"
                },
                "nom": {
                  "example": "any"
                },
                "nom_jeune_fille": {
                  "example": "any"
                },
                "prenom": {
                  "example": "any"
                },
                "date_naissance": {
                  "example": "any"
                },
                "nationalite": {
                  "example": "any"
                },
                "type_piece": {
                  "example": "any"
                },
                "num_piece": {
                  "example": "any"
                },
                "fonction": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/{acteurId}/fichiers/photoprofil": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/{acteurId}/fichiers/signature": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/{acteurId}/motdepasse/activer": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "mdp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/connexion": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "os",
            "in": "header",
            "type": "string"
          },
          {
            "name": "adresse_ip",
            "in": "header",
            "type": "string"
          },
          {
            "name": "marque_device",
            "in": "header",
            "type": "string"
          },
          {
            "name": "model_device",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "mdp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/sessions": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/sessions/{ref}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/operations": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/operations/souscription": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/operations/rachat": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/operations/transfert": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/fonds/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/moy_paiements/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "type_mp_code": {
                  "example": "any"
                },
                "valeur": {
                  "example": "any"
                },
                "intitule": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/moy_paiements/valeur/{valeur}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "valeur",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/moy_paiements/{mpId}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "mpId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "type_mp_code": {
                  "example": "any"
                },
                "valeur": {
                  "example": "any"
                },
                "intitule": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    }
  }
}