{
  "swagger": "2.0",
  "info": {
    "title": "BAM API Client",
    "version": "1.0.0",
    "description": "Api client de l'application de fonds commun de placement de Bridge Asset Management"
  },
  "host": "verolive-secure.com/apibam",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/auth/encode": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "op_code": {
                  "example": "any"
                },
                "app_id": {
                  "example": "any"
                },
                "timestamp": {
                  "example": "any"
                },
                "app_mdp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/auth/verify": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/ressources/type-acteurs": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/ressources/campagne/profilrisque/questions": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/ressources/type-operations": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/ressources/type-moy-paiements": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier/onbording": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "civilite": {
                  "example": "any"
                },
                "nom": {
                  "example": "any"
                },
                "nom_jeune_fille": {
                  "example": "any"
                },
                "prenom": {
                  "example": "any"
                },
                "date_naissance": {
                  "example": "any"
                },
                "nationalite": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "adresse": {
                  "example": "any"
                },
                "telephone": {
                  "example": "any"
                },
                "type_compte": {
                  "example": "any"
                },
                "langue": {
                  "example": "any"
                },
                "compte_titre": {
                  "example": "any"
                },
                "compte_espece": {
                  "example": "any"
                },
                "autres_contexte_ouv": {
                  "example": "any"
                },
                "contexte_ouverture_compte": {
                  "example": "any"
                },
                "raisons_ouverture_compte": {
                  "example": "any"
                },
                "ouverture_compte": {
                  "example": "any"
                },
                "lien_parente_sgo": {
                  "example": "any"
                },
                "nom_prenom_titulaire": {
                  "example": "any"
                },
                "pays_naissance": {
                  "example": "any"
                },
                "pays_residence": {
                  "example": "any"
                },
                "situation_matrimoniale": {
                  "example": "any"
                },
                "situation_habitat": {
                  "example": "any"
                },
                "categorie_professionnelle": {
                  "example": "any"
                },
                "autres_categorie_prof": {
                  "example": "any"
                },
                "profession": {
                  "example": "any"
                },
                "employeur": {
                  "example": "any"
                },
                "nbr_enfants": {
                  "example": "any"
                },
                "langue_preferee": {
                  "example": "any"
                },
                "instrument_paiement_privilige": {
                  "example": "any"
                },
                "origine_ressources_investies": {
                  "example": "any"
                },
                "autres_origines_ressources": {
                  "example": "any"
                },
                "tranche_revenus": {
                  "example": "any"
                },
                "autres_actifs": {
                  "example": "any"
                },
                "autres_actifs_preciser": {
                  "example": "any"
                },
                "autres_comptes_bridge": {
                  "example": "any"
                },
                "comptes_bridges": {
                  "example": "any"
                },
                "banques_relations": {
                  "example": "any"
                },
                "activites_politiques": {
                  "example": "any"
                },
                "preciser_activite_politiq": {
                  "example": "any"
                },
                "proche_politicien": {
                  "example": "any"
                },
                "preciser_proche_politicien": {
                  "example": "any"
                },
                "contact_nom_prenom": {
                  "example": "any"
                },
                "contact_telephone_mobile": {
                  "example": "any"
                },
                "contact_telephone_fixe": {
                  "example": "any"
                },
                "contact_intitule": {
                  "example": "any"
                },
                "contact_email": {
                  "example": "any"
                },
                "profil_reponses": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "civilite": {
                  "example": "any"
                },
                "nom": {
                  "example": "any"
                },
                "nom_jeune_fille": {
                  "example": "any"
                },
                "prenom": {
                  "example": "any"
                },
                "date_naissance": {
                  "example": "any"
                },
                "nationalite": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "adresse": {
                  "example": "any"
                },
                "telephone": {
                  "example": "any"
                },
                "type_piece": {
                  "example": "any"
                },
                "num_piece": {
                  "example": "any"
                },
                "type_compte": {
                  "example": "any"
                },
                "langue": {
                  "example": "any"
                },
                "compte_titre": {
                  "example": "any"
                },
                "compte_espece": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier/{particulierId}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "civilite": {
                  "example": "any"
                },
                "nom": {
                  "example": "any"
                },
                "nom_jeune_fille": {
                  "example": "any"
                },
                "prenom": {
                  "example": "any"
                },
                "date_naissance": {
                  "example": "any"
                },
                "nationalite": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "adresse": {
                  "example": "any"
                },
                "telephone": {
                  "example": "any"
                },
                "type_piece": {
                  "example": "any"
                },
                "num_piece": {
                  "example": "any"
                },
                "langue": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier/{particulierId}/kyc": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "autres_contexte_ouv": {
                  "example": "any"
                },
                "contexte_ouverture_compte": {
                  "example": "any"
                },
                "raisons_ouverture_compte": {
                  "example": "any"
                },
                "ouverture_compte": {
                  "example": "any"
                },
                "lien_parente_sgo": {
                  "example": "any"
                },
                "civilite": {
                  "example": "any"
                },
                "nom_prenom_titulaire": {
                  "example": "any"
                },
                "date_naissance": {
                  "example": "any"
                },
                "pays_naissance": {
                  "example": "any"
                },
                "pays_residence": {
                  "example": "any"
                },
                "situation_matrimoniale": {
                  "example": "any"
                },
                "telephone": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "situation_habitat": {
                  "example": "any"
                },
                "categorie_professionnelle": {
                  "example": "any"
                },
                "autres_categorie_prof": {
                  "example": "any"
                },
                "profession": {
                  "example": "any"
                },
                "employeur": {
                  "example": "any"
                },
                "nbr_enfants": {
                  "example": "any"
                },
                "langue_preferee": {
                  "example": "any"
                },
                "instrument_paiement_privilige": {
                  "example": "any"
                },
                "origine_ressources_investies": {
                  "example": "any"
                },
                "autres_origines_ressources": {
                  "example": "any"
                },
                "tranche_revenus": {
                  "example": "any"
                },
                "autres_actifs": {
                  "example": "any"
                },
                "autres_actifs_preciser": {
                  "example": "any"
                },
                "autres_comptes_bridge": {
                  "example": "any"
                },
                "comptes_bridges": {
                  "example": "any"
                },
                "banques_relations": {
                  "example": "any"
                },
                "activites_politiques": {
                  "example": "any"
                },
                "preciser_activite_politiq": {
                  "example": "any"
                },
                "proche_politicien": {
                  "example": "any"
                },
                "preciser_proche_politicien": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier/{particulierId}/personne_contacter": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nom_prenom": {
                  "example": "any"
                },
                "intitule": {
                  "example": "any"
                },
                "telephone_fixe": {
                  "example": "any"
                },
                "telephone_mobile": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier/{particulierId}/profilrisque/reponses": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/particulier/{particulierId}/profilrisque/reponses/recap": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "particulierId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/entreprise": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "raison_sociale": {
                  "example": "any"
                },
                "forme_juridique": {
                  "example": "any"
                },
                "capital_social": {
                  "example": "any"
                },
                "siege_social": {
                  "example": "any"
                },
                "compte_contribuable": {
                  "example": "any"
                },
                "registre_com": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "adresse": {
                  "example": "any"
                },
                "telephone": {
                  "example": "any"
                },
                "langue": {
                  "example": "any"
                },
                "compte_titre": {
                  "example": "any"
                },
                "compte_espece": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/entreprise/{entrepriseId}/kyc": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "entrepriseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "entrepriseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/entreprise/{entrepriseId}/representant": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "entrepriseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "civilite": {
                  "example": "any"
                },
                "nom": {
                  "example": "any"
                },
                "nom_jeune_fille": {
                  "example": "any"
                },
                "prenom": {
                  "example": "any"
                },
                "date_naissance": {
                  "example": "any"
                },
                "nationalite": {
                  "example": "any"
                },
                "type_piece": {
                  "example": "any"
                },
                "num_piece": {
                  "example": "any"
                },
                "fonction": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/{acteurId}/fichiers/photoprofil": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/{acteurId}/fichiers/domiciliation": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/{acteurId}/fichiers/signature": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/{acteurId}/fichiers": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/fichiers/{ref}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/{acteurId}/motdepasse/activer": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "mdp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/acteurs/motdepasse/reinitialiser": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "identifiant": {
                  "example": "any"
                },
                "telephone": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/acteurs/motdepasse/modifier": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "identifiant": {
                  "example": "any"
                },
                "cur_mdp": {
                  "example": "any"
                },
                "new_mdp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/{acteurId}/otp/renvoyer": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/acteurs/{acteurId}/otp/verifier": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "acteurId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "code_otp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/connexion": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "os",
            "in": "header",
            "type": "string"
          },
          {
            "name": "adresse_ip",
            "in": "header",
            "type": "string"
          },
          {
            "name": "marque_device",
            "in": "header",
            "type": "string"
          },
          {
            "name": "model_device",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "mdp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/sessions": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/sessions/{ref}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/portefeuilles": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/acteurs/transactions": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/acteurs/operations": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/acteurs/operations/souscription": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "idFcp": {
                  "example": "any"
                },
                "libelle": {
                  "example": "any"
                },
                "montant": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/acteurs/operations/rachat": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "idFcp": {
                  "example": "any"
                },
                "libelle": {
                  "example": "any"
                },
                "montant": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/fonds/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/fonds/valeur_liquidatives": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/moy_paiements/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "type_mp_code": {
                  "example": "any"
                },
                "valeur": {
                  "example": "any"
                },
                "intitule": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/moy_paiements/valeur/{valeur}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "valeur",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/moy_paiements/{mpId}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "mpId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "session_ref": {
                  "example": "any"
                },
                "type_mp_code": {
                  "example": "any"
                },
                "valeur": {
                  "example": "any"
                },
                "intitule": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/news/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/news/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/temp/particulier/clean": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "appauth",
            "in": "header",
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "op_code",
            "in": "header",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    }
  }
}